
/*--------------------------------------------------------------------
GLOBAL
---------------------------------------------------------------------*/

body {
	font-family: Helvetica,sans-serif, arial;
	background: #efefef;
}

h2 { 
	font-family: Serif, Helvetica;
	font-style: italic;
	font-weight: bold;
	font-size: 2.5em;
	margin-bottom: 3em;
	text-align: center;
	text-transform: uppercase;
}

h3 {
	color: #000;
	font-family: Serif, Helvetica;
	font-size: 2.1em;
	font-weight: 700;
	padding-bottom: .8em;
	text-shadow: 1px 1px 2px #fff;
	text-align: center;
	color: blue;
	border-bottom: 1px solid black;
	border-bottom-right-radius:2em;
	border-bottom-left-radius:2em;
	
}

h4 {
	color:black;
	font-size: 1em;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 700;
	letter-spacing: .2em;
	margin :1em auto;
	text-align: left;
	text-shadow: 1px 1px 1px #fff;
	width: 100%;
}

form {
	font-family: Helvetica, sans-serif;
	font size: 1em;
	text-align: center;
	margin-top: 3em;
}

form input,
form textarea {
	background: none;
	border: none;
	border-bottom: 1px dotted #000;
	font-size: 1em;
	font-weight: 400;
	margin: 0 0 2em 0;
	padding-bottom: .5em;
	width: 100%;
}

.button {
	border-radius: 5em;
	background: #72e63a;
	display: block;
	font-family: serif,Helvetica;
	letter-spacing: 0;
	list-style: none;
	margin: 2em auto;
	text-align: center;
	text-transform: uppercase;
	width: 5em;
	height: 5em;
}

.hidden {
	display: none;
}

.profile-pic {
	width: 100px;
	height: 100px;
	margin: 0 auto 1em auto;
	border-radius: 10px;
	display: block;
}

nav {
	position: absolute;
	top: 0;
	left: 0;
}

nav ul {
	padding: 1em;
}

nav ul li {
	color: #efefef;
	background: #111;
	border-radius: 5em;
	font-family: serif,Helvetica;
	font-size: .7em;
	letter-spacing: .1em;
	list-style: none;
	margin: .5em;
	padding: .8em;
	text-align: center;
	text-transform: uppercase;
	width: 5em;
	height: 5em;
}

nav ul li: hover{
	background: #72e63a;
}

nav ul li a:link, 
nav ul li a:visited
 {
        color: #efefef;
        line-height: 1em;
        position: relative;
        top: 1.5em;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
}

.mainpage{
	margin-left:100px;
}

.button input{
        border: none;
        color: #000;
        display: block;
        font-size: .8em;
        font-weight: 700;
        line-height: 1.6em;
        margin: 0 auto;
        padding: .8em;
        position: relative;
        top: 1.5em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
}

.content {
        background: #efefef;
        color: #111;
        margin: 5em auto 0 auto;
        padding-bottom: 6em;
        width: 60%;

}


footer {
        background: #111;
        position:fixed;
        color:white;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: left;
}

footer a:link,
footer a:visited
{
	color: #efefef;
}

/*--------------------------------------------------------------------
LOGIN
---------------------------------------------------------------------*/
.content.login {
        margin-top: 2em;
}

.message {
        font-size: 1em;
        padding: 1em 0;
}

.error {
        color: red;
}

/*--------------------------------------------------------------------
PROFILE
---------------------------------------------------------------------*/
.profile h4 {
        margin-top: 2em;
        text-align: center;
}

.profile input {
	background: none;
	border: none;
	font-size: 1em;
	font-weight: 400;
	margin: 1em 0 0 4.4em;
	width:40%;
	text-align: center;
}

/*--------------------------------------------------------------------
POSTS
---------------------------------------------------------------------*/
.new-post textarea {
        background: #fff;
        border: 1px dotted #cdcdcd;
        padding: 1em;
        margin: 0 auto;
        min-height: 100px;
        width: 92%;
}

.content #post_results{
	color:red;
	text-align: center;
}
/*--------------------------------------------------------------------
POSTS
---------------------------------------------------------------------*/
.posts article {
        border-bottom: 1px dotted #cdcdcd;
        margin: 1.5em 0 0 0;
        padding-bottom: 2em;
}

.posts .name{
		color:black;
		font-size: 1.3em;
		font-family: Helvetica, Arial, sans-serif;
		font-weight: 700;
		letter-spacing: .2em;
		margin :1em auto;
		text-align: left;
		text-shadow: 1px 1px 1px #fff;
		width: 100%;
}

.posts p {
        background: #fff;
        border: 1px dotted #cdcdcd;
        font-family: serif, Helvetica;
        font-size: 1.2em;
        padding: 1em;
}

.posts .time {
        background: none;
        border: none;
        text-align: right;
}

/*--------------------------------------------------------------------
FOLLOW
---------------------------------------------------------------------*/
.follow article {
        border-bottom: 1px dotted #cdcdcd;
        margin-bottom: 1em;
        padding-bottom: 1em;
        text-align: center;
}

.follow h4 {
        margin-top: .5em;
        text-align: center;
}

/*--------------------------------------------------------------------
Online chat
---------------------------------------------------------------------*/


.chatroom article{
	margin-bottom: 1em;
    margin-left:10px;
}

.chatroom #online_list{
	postion:absolute;	
	margin-left:590px;
	margin-top:30px;
	border: 1px dotted #cdcdcd;
}

.chat-pic {
	width: 30px;
	height: 30px;
	margin-right:10px;
}
.chatroom h4{
	text-align: center;
}

.chatroom #chat_history{
	position:absolute;
	margin-top: -70px;
}

.chatroom #chat_input{
	position:absolute;
	margin-top: 200px;
}
.chatroom #chat {
	width:280px;
	height:20px;
}

.chatroom #chat_submit {
	border-radius: 5em;
    color: #000;
    font-size: 1em;
    text-align: center;
   
}
/*--------------------------------------------------------------------
Game page
---------------------------------------------------------------------*/

.gamepage #gamerecord{
	position: absolute;
	margin-left:150px;
	margin-top: 100px;	
	width: 100px;
	height: 100px;
}

.gamepage #recordlink{
	position: absolute;
	margin-top: 205px;
	margin-left:140px;
}

.gamepage #guessgame{
	position: absolute;
	margin-left: 550px;
	margin-top: 80px;
	
	height: 100px;
}

.gamepage #gamelink{
	position: absolute;
	margin-left: 500px;
	margin-top: 205px;
	
}

.gamepage a:link{
	border-radius: 5em;
	background: #72e63a;
	font-family: serif,Helvetica;
	letter-spacing: 0;
	list-style: none;
	margin-right: 10px;
	text-align: center;
	text-transform: uppercase;
	width: 5em;
	height: 5em;
}

/*--------------------------------------------------------------------
Game record
---------------------------------------------------------------------*/

.gamerecord table {
	border:1px dotted blue;
	width: 500px;
	table-layout: fixed;
	height:50px;
	margin: 0px auto; 
}

.gamerecord table td, table th{
	border:1px dotted blue;
	text-align: center;
	vertical-align: center;
	padding:15px;
}

.gamerecord #firstcolumn{
	width:100px;
}

.gamerecord #secondcolumn, #thridcolumn{
	width:200px;
}

.gamerecord #message{
	text-align: center;
	font-size: 1em;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 700;
	text-shadow: 1px 1px 1px #fff;
	margin-bottom:25px;
	color: red;
}

/*--------------------------------------------------------------------
guess game
---------------------------------------------------------------------*/

.guess #features{
	border-bottom:1px dotted gray;
	margin-bottom: 10px;
}
.guess #take_guess {
	margin-top:70px;
	position: absolute;
	font-family: Helvetica,Serif;
	margin-left: 60px;
	font-size: 1.2em;
	border-right:2px solid blue;
	padding-right: 30px;
}

.guess #error{
	font-size: 1.2em;
	font-family: Helvetica,Serif;
	color: red;
}

.guess #scratchpad{
	margin-top:30px;
}

.guess #history {
	margin-top:60px;
	position: absolute;
	font-family: Helvetica,Serif;
	margin-left: 330px;
	font-size: 1.2em;
	padding:20px 20px 70px 20px;

}
.guess #guesses {

	margin-left: 30px;
	line-height: 150%;
}

.guess #results,
.guess #timemessage {
	position: absolute;
	margin-left:290px;
	font-family: Serif, Helvetica;
	font-style: italic;
	font-weight: bold;
	font-size: 1.6em;
	text-shadow: 1px 1px 2px #fff;
	color: #9400D3;
	margin-top:22px;
}

.guess #hint {
	position: absolute;
	margin-left: 750px;
	margin-top:80px;
	font-family: Helvetica,Serif;
	font-size: 1.3em;
	color:#0059FF;
}

.number {
	display:inline-block;
	padding:5px;
	border:1px solid gray;
	font-family: Helvetica,Serif;
	font-size: 1.6em;
}

.guess #number {
	margin:100px 10px 0px 760px;
	position: absolute;
	padding:10px 0px 10px 10px;
}

.guess input[type=text] {
	font-family: Helvetica,Serif;
	width:160px;
	margin-top:20px;
	font-size:1.5em;
}

.guess input[type=number]::-webkit-inner-spin-button,
.guess input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.guess button {
	border:1px solid #ccc;
	background-color:#eee;
	font-size:1em;
}
.guess button:hover {
	background-color:#dfdfdf;
	position:relative;
	top:1px;
}

.hint{
	margin:115px 10px 0px 740px;
	position: absolute;
	font-family: Helvetica,Serif;
	font-size: 1.2em;
	border:2px solid gray;
	padding:10px 0px 10px 10px;
	line-height: 150%;
	padding-bottom: 30px;
}

.guess #result_hint1,
.guess #result_hint2
{
	margin-top:5px;
	font-family: Helvetica,Serif;
	color: #800000;
	font-size: 1em;
}

.score {
	
	position: absolute;
	border:2px solid gray;
	color:#0059FF;
	font-family: Helvetica,Serif;
	font-size: 2.5em;
	width:65px;
	margin-left: 25px;
	text-align: center;
	padding: 5px;
}

.guess #record{
	display: none;
	position: absolute;
	margin-left: 650px;
	margin-top: -150px;
	border:1px dotted gray;
	padding:.3em;
	background-color:white;
	width:260px;
	height:100px;
	color: red;
	text-align: center;
}

.guess #unpost_record{
	margin-left:50px;
}

.guess #post_results{
	color:red;
	position: absolute;
	margin-top:780px;
	margin-left: 220px;	
}

.guess .new-post{
	position: absolute;
	margin-top:500px;
	margin-left: 50px;
}

.guess #ready {
	border-radius: 5em;
	background: #72e63a;
	display: block;
	font-family: serif,Helvetica;
	letter-spacing: 0;
	list-style: none;
	margin: 2em auto;
	text-align: center;
	text-transform: uppercase;
	width: 5em;
	height: 5em;
}

.guess #countdown{
	
	position: absolute;
	border:2px solid gray;
	color:#0059FF;
	font-family: Helvetica,Serif;
	font-size: 2.5em;
	width:65px;
	margin-left: 175px;
	margin-top: -40px;
	text-align: center;
	padding: 5px;
}